/* this is the css style sheet */

.yellow {
	color: yellow;
	font-size: 24px;
}

.butactually {
	color: red;
}
.green {
	color: green;
}

p,
h1,
div {
	text-align: center;
}

#photo-video-wrappper {
	text-align: center;
}